@import '~antd/dist/antd.css';

body, html {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.x-font-small-white{
  font-size: 12px!important;
  color: white;
}

.x-font-small-white2{
  font-size: 17px!important;
  color: white;
  font-family: TypoRoundBold;
}
.x-font-big-white{
  font-family: TypoRoundBold;
  font-size: 40px;
  color: white;
  line-height: 0px;
}
.x-font-normal-white{
  font-family: TypoRoundBold;
  font-size: 20px;
  color: white;
}
.x-font-normal-red{
  font-family: TypoRoundBold;
  font-size: 20px;
  color: red;
}
.x-font-normal-orange2{
  font-size: 17px!important;
  color: #f2882b;
  font-family: TypoRoundBold;
}
.x-font-normal-orange{
  font-size: 22px!important;
  color: #f2882b;
  font-family: TypoRoundBold;
}
.x-font-normal-green{
  font-size: 22px!important;
  color: #4db904;
  font-family: TypoRoundBold;
}
.x-font-normal-pink{
  font-size: 22px!important;
  color: #ef2cb6;
  font-family: TypoRoundBold;
}
.x-font-normal-white2{
  font-family: TypoRoundBold;
  font-size: 17px!important;
  color: white;
}
.x-font-small-white{
  font-family: TypoRoundBold;
  font-size: 19px;
  color: white;
}
.x-font-normal-gray{
  font-family: TypoRoundBold;
  font-size: 16px;
  color: #8d909f;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: TypoRoundBold;
  src: url(./assets/fonts/Typo_Round_Bold_Demo.otf);
  unicode-range: U+20-28, U+30-3F, U+41-5A, U+61-7A;
}
@font-face {
  font-family: Multi;
  src: url(./assets/fonts/MultiDisplay-Regular.otf);
}
@font-face {
  font-family: MyRiadPro;
  src: url(./assets/fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
  font-family: Poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

.dashboardGrid {
  /* position: absolute;
  top: 10%; */
  width: 70% !important;
  margin-left: 15% !important;
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}

.playCard {
  position: relative;
  border-radius: 10px;
  color: white;
  font-family: TypoRoundBold;
  background-size: cover;
}

.playCard > img {
  position: absolute;
  top: 5%;
  right: 5%;
}

.cardHeader {
  width: 100%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: left;
  border-radius: 10px 10px 0px 0px;
  font-size: 35px;
}

.cardBody {
  padding: 5%;
  text-align: left;
}

.cardBody > p {
  font-size: 22px;
}

.cardBody > span {
  font-size: 20px;
}

.playBtn {
  width: 50%;
  padding: 2%;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 26px;
  display: block;
  margin-left: 25%;
  margin-top: 10%;
  background:radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  transition:0.5s;
}
.playBtn:hover{
  transform: translate(-1px,-4px);
}

.tableContainer {
  background-color: transparent !important;
}

.tableRow {
  background:radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.tableButtons {
  font-family: TypoRoundBold;
  color: white;
}
.tableButtons > p {
  float: left;
  font-size: 38px;
  margin-bottom: 0;
}

.tableButtons > div {
  float: right;
  display: inline-flex;
}

.allPlayers {
  color: #07792d;
  outline: none;
  border: 1px solid #64d10b;
  border-radius: 5px;
  background: transparent;
  width: 100%;
}

.allPlayers:hover {
  color: #f9f9f9;
  outline: none;
  border: 1px solid #d1750b;
  border-radius: 5px;
  background: transparent;
  width: 100%;
}

/* Footer */

.footer {
  background-color: #b88f30;
}

.footerContainer {
  width: 80% !important;
  margin: auto;
}

.footer-menu-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

.footer-menu-ul > li {
  float: left;
}

.footer-menu-ul > li a {
  display: block;
  color: #4c494f;
  text-align: center;
  padding: 16px;
  font-size: 16px;
  font-family: Poppins;
  font-weight: bold;
}

.footerMenu {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #382048;
  padding-top: 1%;
  padding-bottom: 1%;
}

.footerIcons {
  display: inline-flex;
  align-items: center;
  float: right;
}

.footerSocial {
  border-bottom: 1px solid #382048;
  display: inline-block;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: auto !important;
}

.footerMenu > p {
  margin-bottom: 0;
  color: #147900;
  font-size: 20px;
  font-weight: bold;
  font-family: Multi;
  margin-right: 20px;
}

.footerIcons > p {
  margin-bottom: 0;
  color: #30c1f2;
  font-size: 20px;
  font-weight: bold;
  font-family: Multi;
  float: right;
}

.socialIcons > a {
  border: 1px solid #3f3942;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-left: 5px;
}

.socialIcons {
  float: right;
  display: inline-flex;
  margin-left: 20px;
}

.socialActive {
  border-color: #31bff0 !important;
}

.footerCopyright {
  padding-top: 1%;
  padding-bottom: 1%;
}

.footerCopyright > p {
  font-family: MyRiadPro;
  font-size: 18px;
  color: #0013bd;
  margin-bottom: 0;
}

.header {
  padding-top: 3%;
  width: 80%;
  margin: auto;
}

/* Navbar */

.bg-light {
  background-color: transparent !;
}

.navbar-nav {
  width: 100%;
  justify-content: center;
}

.navbar-light .navbar-toggler {
  background-image: linear-gradient( to right,#14aafc 0%,#4f52ee 100% );
  color: white !important;
}

.form-inline {
  justify-content: center;
}

.navbar-nav > a {
  display: block;
  color:#c4bdc9 !important;
  text-align: center;
  padding: 16px;
  padding-bottom: 6px;
  font-family: Poppins;
  font-size: 19px;
  font-weight: 600;
  margin-right: 2%;
}

.nav-link.active {
  color: #ee263b !important;
}

.nav-item > a {
  display: block;
  color:#c4bdc9 !important;
  text-align: center;
  padding: 16px;
  padding-bottom: 6px;
  font-family: Poppins;
  font-size: 19px;
  font-weight: 600;
}

/**/
.loginBtn {
  outline: none !important;
  border:none !important;
  border-radius: 50px !important;
  color: #e0e0e0 !important;
  font-family: Poppins;
  font-size: 22px !important;
  font-weight: bold !important;
  background-color: #772f1a;
  background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
  width: 200px;
  height: 70px;
  transition: 0.5s;
}
.loginBtn:hover {
  background-image: linear-gradient(315deg, #b67d15 0%, #da621d 74%);
}

.homeDice1 {
  position: absolute;
  top: 3%;
  left: 2%;
}

.homeDice2 {
  position: absolute;
  top: 30%;
  left: 5%;
}

.homeDice3 {
  position: absolute;
  top: 20%;
  right: 3%;
}

.homeDice4 {
  position: absolute;
  top: 45%;
  right: 5%;
}

.homeEffect {
  position: absolute;
  top: 70%;
  right: 0;
}

.infoCard {
  background-color: #ffc857;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-family: Poppins;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: none;
  outline: none;
  width: 100%;
}

.profitPayout {
  color: #87c03d;
  font-weight: 700;
}
.diceInfo > p {
  font-family: Poppins;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.diceTitle {
  width: 100%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: left;
  border-radius: 10px 10px 10px 10px;
  font-size: 35px;
  font-family: TypoRoundBold;
  color: white;
  position: relative;
}

.diceTitle > img {
  position: absolute;
  top: -30%;
  right: -10%;
  height: 200%;
}

.diceBtn1 {
  text-align: left;
}

.diceBtn1 > button {
  border-radius: 30px;
  border: 2px solid #2096f6;
  background-color: #230833;
  color: #2589eb;
  width: 63px;
  padding: 5px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0 0 5px 5px #202255;
}

.diceBtn3 {
  text-align: right;
}

.diceBtn3 > button {
  background-color: #7fc03e;
  color: #d7efcf;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
  width: 180px;
}

.diceGrid {
  width: 70% !important;
  margin-left: 15% !important;
  margin-top: 3% !important;
  margin-bottom: 3% !important;
}

.autoBtn {
  border: 7px solid #d4af37;
  border-radius: 50px;
  color: #e0e4f0;
  font-weight: bold;
  font-family: Poppins;
  width: auto;
  margin: auto;
}

.progressTitle {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}

.levelTitle {
  display: inline-flex;
}
.levelTitle > p{
  width: 30%;
}

.levelTitle > span {
  width: 70%;
}

.lower {
  text-align: left;
  font-family: Poppins;
  font-weight: bold;
  color: #dcd8e9;
  font-size: 22px;
}

.higher {
  text-align: left;
  font-family: Poppins;
  color: #dcd8e9;
  font-size: 22px;
}

.levelGrid {
  background-color: #b18a3ba4;
  border-radius: 10px;
  padding: 2%;
  margin-bottom: 0 !important;
}

.resultGrid {
  background: transparent;
  border: 2px solid #2a317f;
  border-radius: 10px;
  padding: 2%;
}

.unlimitedText {
  background-color: #ebd89b6c;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: Poppins;
  padding: 10px;
  margin-bottom: 10%;
}

.winorlose {
  text-align: left;
}

.winorlose > input {
  width: 80%;
}

.winorlose > p {
  color: #eff3e5;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
}

.winloseBtn {
  font-family: TypoRoundBold;
  color: white;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
}

.groupBtn {
  outline: none;
  border-right: none;
  background: transparent;
  width: 100px;
  padding: 10px 20px 10px 20px;
}

.reset1 {
  color: #71a423;
  border: 1px solid #71a423;
  border-radius: 5px 0px 0px 5px;
}

.increase1 {
  color: white;
  border: 1px solid #71a423;
  border-radius: 0px 5px 5px 0px;
}

.reset2 {
  color: #ff161a;
  border: 1px solid #ff161a;
  border-radius: 5px 0px 0px 5px;
}

.increase2 {
  color: white;
  border: 1px solid #ff161a;
  border-radius: 0px 5px 5px 0px;
}

.autoGrid {
  width: 70% !important;
  margin-left: 15% !important;
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}

.startBtn {
  border: 7px solid #d4af37;
  border-radius: 50px;
  color: #e0e4f0;
  font-weight: bold;
  font-family: Poppins;
  font-size: 16px;
  width: 100%;
  padding: 5%;
  
color: #35c30a
}

.x-nav-dropdown .dropdown-menu{
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  border-radius: 10px;
}
.x-nav-dropdown .dropdown-menu .dropdown-item{
  font-family: TypoRoundBold;
}
.x-nav-dropdown .dropdown-menu .dropdown-item:hover{
  background-image: radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%)
}
.x-farming-card{
  background-color: #5e4903;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.x-farming-card-number{
  font-size: 40px;
  margin-left: 10px;
  color: #c78291;
}
.x-farming-card-harvest{
  text-align: right;
  padding-right:10px;
  position: relative;
}
.x-farming-card-harvest-button{
  position: relative;
  right: 0;
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 17px;
  display: inline-block;
  margin-top: 15%;
  background-color: red;
  border-radius: 50px;
  color: #e0e4f0;
  font-family: Poppins;
}
.x-farming-card-swap-button{
  right: 0;
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 17px;
  display: inline-block;
  margin-top: 12%;
  background-color: #2780e3;
  border-radius: 50px;
  color: #e0e4f0;
  font-family: Poppins;
}
.x-farming-card-transfer-button{
  right: 0;
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 17px;
  display: inline-block;
  margin-top: 12%;
  background-color: red;
  border-radius: 50px;
  color: #e0e4f0;
  font-family: Poppins;
}
.x-farming-card-bet-button{
  right: 0;
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 17px;
  display: inline-block;
  margin-top: 12%;
  background-color: #9954bb;
  border-radius: 50px;
  color: #e0e4f0;
  font-family: Poppins;
}
.x-risk-balance{
   text-align: right;
}
.x-farming-card2-count-font{
  font-size: 20px;
  color: #7e42a6;
}
.x-buypower-button{
  border: 7px solid #3a5429;
  border-radius: 50px;
  color: #e0e4f0;
  font-weight: bold;
  font-family: Poppins;
  width: auto;
  margin: auto;
  background-color: #4db904;
}
.x-farming-blog1{
  background-color: #f2a65a93;
  padding: 10px;
  border-radius: 10px;
}
.x-farming-blog2{
  padding: 10px;
}
.x-farming-blog1 .text-left{
  font-family: TypoRoundBold;
  font-size: 22px;
  color: #4db904;
}
.x-risk-balance span{
  color: #4db904;
}
.x-lamp{
  display: inline-block;
  line-height: 30px;
}
.x-lamp.x-font-normal-white2 span{
  color: #4db904;
}
.x-display-flex{
  display: flex;
}
.x-careful-card1{
  width: 100%;
  border: 2px solid #b90e89;
  border-radius: 5px;
  padding:20px;
  box-shadow: 0px 0px 10px 3px #b90e89, #b90e89 0px 0px 15px inset;
}
.x-careful-card2{
  width: 100%;
  border-radius: 5px;
  padding: 20px
}
.x-careful-card3{
  width: 100px;
}
.x-careful-card3-item1{
  width: 28%;
  display: inline-block;
}
.x-careful-card3-item1{
  background-color: rgba(64,3,73, 0.8);
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 2px solid #540660;
}
.x-careful-card3-item2{
  background-color: rgba(64,3,73, 0.8);
  padding: 10px;
  border-right: 2px solid #540660;
  border-left: 2px solid #320238;
}
.x-careful-card3-item3{
  background-color: rgba(64,3,73, 0.8);
  padding: 30px;
  border-right: 2px solid #540660;
  border-left: 2px solid #320238;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.x-careful-card3-item3>button{
  border: 7px solid #d4af37;
  border-radius: 50px;
  color: #e0e4f0;
  font-weight: bold;
  font-family: Poppins;
  font-size: 16px;
  width: 30%;
  padding: 2%;
}
.x-referral-withdraw-button{
  border: none;
  border-radius: 50px;
  color: #e0e4f0;
  font-weight: bold;
  font-family: Poppins;
  font-size: 16px;
  width: 200px;
  padding: 1%;
  transition: 0.3s;
}
.x-referral-withdraw-button:hover,.x-referral-withdraw-button:focus{
  transform: translate(-1px,-5px);
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.x-referal-card-background{
  background-color: #af8231;
  padding: 10px;
  border-radius: 5px;
}
.x-nopadding-diceGrid{
  width: 70% !important;
  margin-left: 15% !important;
}
.diceGridTable{
  width: 70% !important;
  margin-left: 15% !important;
  padding-top: 3% !important;
  padding-bottom: 3% !important;
}
.diceGrid-table-top{
  width: 70% !important;
  margin-left: 15% !important;
  padding-bottom: 3% !important;
}
.dashboard{
  margin: 0px;
  padding-bottom: 50px;
}
.x-referal-link-title{
font-size: 25px;
color: white;
}
.x-referal-link{
  background-color: #cea110;
  height: 28px;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 3px;
}

.x-referal-link-copy-btn{
  background-color: #03145e;
  border: none;
  height: 28px;
}

.x-classic-betting-state{
  background-color: #1d1d1fb2;
  border-radius: 10px;
  padding: 3%;
  color: white;
}
.x-metamask{
  cursor: pointer;
}

.x-fonts-1 {
  
  font-family: TypoRoundBold;
  font-size: 54px;
  color: #a08035;
}

.bet-card{
  background-color:#a08035;
}

.x-font-3{
  color: rgb(64, 37, 184)!important;
  font-family: TypoRoundBold;
}